<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/style.css" />
	</head>
	<body>
		<h2>Post a Ride</h2>
		<form method="POST">
			<input name="from" placeholder="From" required /><br />
			<input name="to" placeholder="To" required /><br />
			<input name="cost" type="number" placeholder="Cost" required /><br />
			<button>Post Ride</button>
		</form>
		<a href="/logout">Logout</a>
	</body>
</html>
