<!DOCTYPE html>
<html>
	<head>
		<title>RideSphere</title>
		<link rel="stylesheet" href="/style.css" />
	</head>
	<body>
		<div class="welcome-page">
			<div class="welcome-left">
				<div class="welcome-box">
					<h1>Welcome to <span>RideSphere</span></h1>
					<p>Please choose a login type:</p>
					<div class="button-group">
						<a href="/login?role=user"><button>Login as User</button></a>
						<a href="/login?role=driver"><button>Login as Driver</button></a>
						<a href="/signup"><button>Sign Up</button></a>
					</div>
					<p style="margin-top: 15px">
						Don't have an account? Sign up to start your journey!
					</p>
				</div>
			</div>

			<div class="welcome-right">
				<img
					src="../images/WhatsApp Image 2025-07-16 at 18.09.48.png"
					alt="Ride Map" />

				<p class="description">
					RideSphere is a simple ride posting and booking platform for users and
					drivers. Built by <strong>Sumukh Bansal</strong>.
				</p>
			</div>
		</div>
	</body>
</html>
