<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/style.css" />
	</head>
	<body>
		<h2>Signup</h2>
		<form method="POST">
			<input name="username" placeholder="Username" required /><br />
			<input
				name="password"
				type="password"
				placeholder="Password"
				required /><br />
			<select name="role">
				<option value="user">User</option>
				<option value="driver">Driver</option></select
			><br />
			<button>Signup</button>
		</form>
	</body>
</html>
